/*********************************/
/* HEADER SECTION MEDIA QUERIES */
/********************************/
@media (min-width: 1600px) {
  .logo_container {
    width: 40%;
  }
}

@media (min-width: 2300px) {
  .logo_container {
    width: 30%;
  }
}

@media (min-width: 3000px) {
  .logo_container {
    width: 20%;
  }
}

@media (min-width: 4700px) {
  .logo_container {
    width: 10%;
  }
}

@media (min-width: 9000px) {
  .logo_container {
    width: 5%;
  }
}

@media (max-width: 1200px) {
  .logo_container .logo {
    width: 50%;
  }
}

@media (max-width: 992px) {
  .logo_container {
    width: 30%;
  }
  .logo_container .logo {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .logo_container {
    width: 40%;
  }
  .header_items span {
    font-size: 1.8rem;
  }
  .header_items a {
    font-size: 1.4rem;
  }
  .burger {
    display: flex;
  }
  .nav_links {
    position: absolute;
    right: 0;
    top: 16vh;
    width: 100%;
    background-color: var(--nude-color);
    height: 90vh;
    flex-direction: column;
    padding-top: 2rem;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    z-index: 10;
  }
  .nav__links_active {
    transform: translateX(0%);
  }
  .nav_link_redirector {
    color: var(--white-color);
  }
  .nav_link_redirector:hover {
    color: var(--white-color);
  }
  .toggle .line {
    transition: all 0.3s ease;
  }
  .toggle .line__1 {
    transform: rotate(-45deg) translate(-5px, 8px);
  }
  .toggle .line__2 {
    opacity: 0;
  }
  .toggle .line__3 {
    transform: rotate(45deg) translate(-8px, -10px);
  }
}

@media (max-width: 650px) {
  .logo_container {
    width: 50%;
  }
  .header_first_section {
    display: none;
  }
  .nav_links {
    top: 10vh;
  }
  .header_second_section {
    padding: 2rem;
  }
}

@media (max-width: 500px) {
  .burger .line {
    width: 28px;
    color: var(--text-color);
  }
  .logo_container {
    width: 55%;
  }
  .header_second_section {
    padding: 2rem 1rem;
  }
}

@media (max-width: 400px) {
  .logo_container {
    width: 70%;
  }
  .header_second_section {
    padding-left: 0.5rem;
  }
}

/*********************************/
/* FIRST SECTION MEDIA QUERIES */
/********************************/
@media (max-width: 1200px) {
  .first_sec_text_col h1 {
    font-size: 5rem;
  }
  .first_sec_text_col p {
    font-size: 1.8rem;
  }
  .sec_btn {
    font-size: 1.8rem;
  }
}

@media (max-width: 992px) {
  .first__section .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .first_sec_text_col {
    text-align: center;
  }
  .first_sec_buttons_holder {
    align-self: center;
  }

  .first__section {
    background: none;
    padding-bottom: 0rem;
  }
  .first_sec_text_col h1,
  .first_sec_text_col p,
  .sec_btn {
    color: #333;
  }
  .sec_btn {
    border: 2px solid #ff8787;
  }
  .btn__1 {
    background-color: #ff8787;
    color: #fff;
  }
  .first_sec_text_col {
    position: relative;
    top: -5vh;
  }
}

@media (max-width: 576px) {
  .first__section .row {
    margin: 0 2rem;
  }
}

@media (max-width: 520px) {
  .first_sec_text_col h1 {
    font-size: 4rem;
  }
  .first_sec_text_col p {
    font-size: 1.6rem;
  }
  .sec_btn {
    font-size: 1.6rem;
  }
  .first__section .row {
    margin: 0 1rem;
  }
}

@media (max-width: 405px) {
  .first_sec_text_col h1 {
    font-size: 2.8rem;
  }
}

@media (max-width: 360px) {
  .first_sec_text_col h1 {
    font-size: 2rem;
  }
  .first_sec_text_col p {
    font-size: 1.4rem;
  }
  .sec_btn {
    font-size: 1.4rem;
  }
}

@media (max-width: 310px) {
  .first_sec_buttons_holder {
    flex-direction: column;
  }
}

/*********************************/
/* SECOND SECTION MEDIA QUERIES */
/********************************/
@media (max-width: 1400px) {
  .service__cards {
    padding: 4rem 2rem;
  }
}

@media (max-width: 992px) {
  .service__cards {
    margin-bottom: 5rem;
  }
  .second__section {
    padding: var(--mid-padding) 1rem 0 1rem;
  }
}

@media (max-width: 576px) {
  .section__heading {
    font-size: 4rem;
  }

  .ionIcon {
    font-size: 3rem;
  }
}

@media (max-width: 435px) {
  .section__heading {
    font-size: 2.8rem;
  }
  .service__cards h3 {
    font-size: 1.5rem;
  }
  .service__cards {
    padding: 3rem 0.5rem;
  }
  .services_points {
    font-size: 1.3rem;
  }
}

/*********************************/
/* THIRD SECTION MEDIA QUERIES */
/********************************/
@media (max-width: 992px) {
  .third_sec_card {
    margin-bottom: 4rem;
  }
  .third_sec_card:last-child {
    margin-bottom: 0;
  }
  .third_sec_col h4 {
    font-size: 2.4rem;
  }
}

@media (max-width: 576px) {
  .third__section {
    margin: 0 3rem;
  }
  .third_sec_col h4 {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .third_sec_col h4 {
    font-size: 1.8rem;
  }
}

/*********************************/
/* FOURTH SECTION MEDIA QUERIES */
/********************************/
@media (max-width: 992px) {
  .fourth__section .more____up {
    display: flex;
    flex-direction: column-reverse;
  }

  .fourth_sec_image_box,
  .fourth_sec_text div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fourth_sec_text h2,
  .fourth_sec_text p {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .fourth__section {
    margin: 0 3rem;
  }
  .fourth_sec_image_box .fourth_sec_img {
    width: 100%;
  }

  .fourth_sec_text h2 {
    font-size: 2.5rem;
  }

  .fourth__section p {
    text-align: start;
    font-size: 1.6rem;
  }
}

@media (max-width: 380px) {
  .fourth__section {
    margin: 0 2rem;
  }
  .fourth__section .row {
    margin-bottom: 5rem;
  }
  .fourth__section .row:last-child {
    margin-bottom: 0;
  }
}

/*********************************/
/* FOOTER SECTION MEDIA QUERIES */
/********************************/
@media (max-width: 576px) {
  .footer .row {
    margin: 0 2rem;
  }
  .copyright_paragraph {
    padding: 0 1rem;
  }
}

@media (max-width: 360px) {
  .fontAwesomeIcon {
    font-size: 2rem !important;
  }
  .footer_col_1 h3 {
    font-size: 1.8rem;
  }
  .footer .row {
    margin: 0 1rem;
  }
  .company__main_details h2 {
    gap: 1rem;
  }
}

@media (max-width: 300px) {
  .footer .row {
    margin: 0px;
    overflow: hidden;
  }
}

/*******************************************/
/* OUTBOUND SERVICE SECTION MEDIA QUERIES */
/******************************************/
@media (max-width: 1200px) {
  .service_sec_image img {
    width: 90%;
  }
  .service_sec_text p {
    font-size: 1.6rem;
  }
  .service_heading {
    font-size: 3rem;
  }
}

@media (max-width: 992px) {
  .service_section .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .service_sec_image img {
    margin-bottom: 2rem;
  }
  .service_sec_text p {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .service_heading {
    font-size: 2.4rem;
  }
}

@media (max-width: 576px) {
  .service_section {
    margin: 0 3rem;
  }
  .service_sec_text p {
    font-size: 1.4rem;
  }
}

@media (max-width: 400px) {
  .service_section {
    margin: 0 2rem;
  }
}

/*********************************/
/* ABOUT SECTION MEDIA QUERIES */
/********************************/
@media (max-width: 1200px) {
  .about_sec_image img {
    width: 90%;
  }
  .about_sec_text p {
    font-size: 1.6rem;
  }
}

@media (max-width: 992px) {
  .about_section .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .about_sec_image img {
    margin-bottom: 2rem;
  }
  .about_sec_text p {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .buttons__box_container {
    flex-direction: column;
    margin-top: 2rem;
  }

  .buttons__box_container a {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .about_section {
    margin: 0 3rem;
  }
  .about_sec_text p {
    font-size: 1.4rem;
  }
}

@media (max-width: 400px) {
  .about_section {
    margin: 0 2rem;
  }
}

/***************************************/
/* ABOUT NESTED SECTION MEDIA QUERIES */
/**************************************/
@media (max-width: 576px) {
  .take__up {
    top: -8%;
  }
}

/***************************************/
/* INFRASTRUCTURE SECTION MEDIA QUERIES */
/**************************************/
@media (max-width: 1400px) {
  .hide_para_on_small_lap {
    display: none;
  }
}

@media (max-width: 992px) {
  .infrastructure_img {
    width: 80%;
    top: -15vh;
  }
  .advanced__row {
    display: flex;
    flex-direction: column-reverse;
  }
  .infrastructure_section_text {
    position: relative;
    top: -10vh;
  }
  .hide_para_on_small_lap {
    display: block;
  }
}

@media (max-width: 576px) {
  .infrastructure_section {
    margin: 0 3rem;
  }
  .infrastructure_img {
    top: -12vh;
  }
  .infrastructure_section_text p {
    text-align: justify;
  }
}

@media (max-width: 450px) {
  .infrastructure_section {
    margin: 0 2rem;
  }
  .infrastructure_img {
    top: -8vh;
  }
  .infrastructure_section_text {
    position: relative;
    top: -5vh;
  }
  .infrastructure_section_text p {
    font-size: 1.6rem;
  }
}
