/***************************/
/* DECLARATION FOR ALL */
/***************************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/***************************/
/* GOOGLE FONTS IMPORTED */
/***************************/
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&family=Playfair+Display:ital,wght@1,500;1,600&family=Quicksand:wght@400;500;600;700&display=swap");
/***************************/
/* VARIABLES DECLARTAIONS */
/***************************/
:root {
  --font-1: "Mulish", sans-serif;
  --font-2: "Playfair Display", serif;
  --font-3: "Quicksand", sans-serif;
  --btn-primary-color: #ffcccc;
  --btn-primary-color-dark: #ffb8b8;
  --nude-color: #ff8787;
  --warm-color: #ffaf40;
  --warm-color-dark: #ff9f1a;
  --text-color: #333;
  --text-dark-color: #222;
  --body-color: #f6f6f6;
  --shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
  --white-color: #fff;
  --para-color: #888;
  --max-padding: 6rem;
  --mid-padding: 4rem;
  --low-padding: 2rem;
}

/***************************************/
/* SOME DEFAULT DECLARATION CHANAGES */
/***************************************/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: var(--body-color);
  font-family: var(--font-1) !important;
}

p {
  line-height: 1.5;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}

/************************/
/* HEADER SECTION CSS */
/************************/
.header_first_section {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: var(--text-color);
  height: 6vh;
}

.header_items {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.header_items span {
  font-size: 2rem;
  color: var(--white-color);
}

.header_items a {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--white-color);
  font-weight: 600;
}

.header_items a:hover {
  color: var(--white-color);
}

.header_second_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  height: 10vh;
  box-shadow: var(--shadow);
}

.logo_container .logo {
  width: 50%;
}

.nav {
  display: flex;
  align-items: center;
}

.nav .nav_links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav_link_redirector {
  font-size: 1.8rem;
  position: relative;
  top: 6px;
  color: var(--text-color);
  font-weight: 600;
  cursor: pointer;
}

.nav_link_redirector:hover {
  color: var(--nude-color);
}

.burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  display: none;
}

.burger .line {
  height: 4px;
  width: 30px;
  background-color: var(--text-dark-color);
}

/************************/
/* FIRST SECTION CSS */
/************************/
.first__section {
  padding: var(--mid-padding) 0;
  background-attachment: fixed !important;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/1.jpg") center center/cover;
}

.first_sec_text_col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first_sec_text_col h1,
.first_sec_text_col p {
  color: var(--text-color);
  color: var(--white-color);
}

.first_sec_text_col h1 {
  font-size: 6rem;
}

.first_sec_text_col p {
  font-size: 2rem;
}

.first_sec_buttons_holder {
  align-self: flex-start;
  display: flex;
  gap: 2rem;
}

.sec_btn {
  color: var(--white-color);
  border-radius: 2.5rem;
  font-size: 2rem;
  padding: 1rem 2rem;
  font-weight: 600;
  transition: all 0.3s ease;
  border: 2px solid #eee;
}

.sec_btn:hover {
  color: var(--white-color);
  background-color: var(--nude-color);
}

.first_sec_image_col {
  overflow: hidden;
}

.first_sec_image_col img {
  position: relative;
  top: -70px;
}

/************************/
/* SECOND SECTION CSS */
/************************/
.second__section {
  padding: var(--max-padding) 0;
}

.section__heading {
  font-size: 5rem;
  text-align: center;
  color: var(--nude-color);
  font-weight: 600;
  padding-bottom: 2rem;
}

.sec_btn_on_white {
  color: var(--text-color);
  border: 2px solid var(--nude-color);
  border-radius: 1rem;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  font-weight: 600;
  transition: all 0.2s ease;
}

.sec_btn_on_white:hover {
  color: var(--white-color);
  background-color: var(--nude-color);
}

.service__cards {
  box-shadow: var(--shadow);
  padding: 4rem 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  border-radius: 2rem;
}

.service__cards h3 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.service__cards ul {
  width: 100%;
}

.services_points {
  font-size: 1.4rem;
}

.services_points {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.ioncheckMark {
  fill: var(--nude-color);
}

.ionIcon {
  font-size: 4rem;
  fill: var(--nude-color);
}

.service__cards:hover {
  background-color: var(--btn-primary-color);
  transition: all 0.2s ease;
}
/************************/
/* THIRD SECTION CSS */
/************************/
.third__section {
  padding: var(--max-padding) 0;
}

.third_sec_col h4 {
  font-size: 3rem;
  text-align: center;
}

.stylish_font {
  font-family: var(--font-2);
  font-style: italic;
  font-weight: 600;
}

.inner__card__box {
  margin: 0 2rem;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
  gap: 1rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
}

.inner__card__box span {
  font-size: 1.6rem;
  color: var(--text-color);
  line-height: 1.5;
  text-align: center;
}

.inner__card__box .number_count {
  font-size: 3rem;
  font-weight: 600;
}

/************************/
/* FOURTH SECTION CSS */
/************************/
.fourth__section {
  font-family: var(--font-3);
  overflow: hidden;
  padding-top: 4rem;
}

.fourth__section .row {
  position: relative;
  top: -8vh;
}

.fourth__section .more____up {
  top: -12vh;
}

.fourth_sec_image_box {
  overflow: hidden;
}

.fourth_sec_img {
  position: relative;
  top: -10%;
  width: 80%;
}

.fourth_sec_text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.fourth_sec_text h2 {
  font-size: 4rem;
  font-weight: 600;
}

.fourth_sec_text p {
  font-size: 2rem;
  font-family: var(--font-1);
  font-weight: 500;
  color: var(--para-color);
}

.fourth_sec_text .sec_btn_on_white {
  font-weight: 700;
}

/************************/
/* FIFTH SECTION CSS */
/************************/
.fifth__section {
  padding: var(--max-padding) 0;
}

.fifth__section .team_card .img__bx img {
  width: 100px;
  height: 100px;
}

.star_icon {
  font-size: 2rem;
  fill: var(--warm-color);
}

.fifth__section .team_card .text__cnt {
  padding: 0 2rem;
}

.team_card {
  padding: 4rem;
  font-family: var(--font-3);
}

.team_card_manager {
  padding: 4rem 1rem;
  width: 100%;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 1rem;
}

.team_card .img__bx img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.team_card .text__cnt {
  text-align: center;
}

.team_card .text__cnt h4 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.team_card .text__cnt p {
  font-size: 1.6rem;
}

/************************/
/* FOOTER SECTION CSS */
/************************/
.footer {
  background-color: var(--nude-color);
  color: var(--white-color);
  padding: 4rem 0;
  padding-bottom: 1rem;
}

.footer .row {
  padding-bottom: 1.5rem;
}

.footer_logo_box img {
  width: 80px;
  margin-bottom: 2rem;
}

.company__main_details h2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.company__main_details a {
  font-size: 1.6rem;
  color: var(--white-color);
}

.fontAwesomeIcon {
  font-size: 3rem !important;
}

.footer_col_1 h3 {
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.footer_inner_col__1__items {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.footer_inner_col__1__items a {
  color: var(--white-color);
  font-size: 1.6rem;
  line-height: 1.5;
}

.All_social_media_box {
  display: flex;
  gap: 2rem;
}

.All_social_media_box span a {
  color: var(--white-color);
}

.copyright_paragraph {
  font-size: 1.6rem;
  text-align: center;
  color: var(--white-color);
}

/********************************/
/* OUTBOUND SERVICE SECTION CSS */
/********************************/
.service_section {
  padding-top: var(--mid-padding);
}

.service_sec_text p {
  color: var(--para-color);
  font-size: 2rem;
  text-align: justify;
}

.service_sec_image img {
  width: 80%;
}

.service_sec_text,
.service_sec_image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/************************/
/* ABOUT SECTION CSS */
/************************/
.about_section {
  padding: var(--mid-padding) 0;
}

.about_sec_text p {
  color: var(--para-color);
  font-size: 2rem;
  text-align: justify;
}

.about_sec_image img {
  width: 80%;
}

.about_sec_text,
.about_sec_image {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about_sec_image {
  align-items: center;
}

.buttons__box_container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

/*****************************/
/* ABOUT NESTED SECTION CSS */
/*****************************/
.about_nested_section {
  padding-bottom: 0;
}

.about_nested_section p {
  text-align: start;
}

.take__up {
  position: relative;
  top: -10vh;
}

/*******************************/
/* INFRASTRUCTURE SECTION CSS */
/*******************************/
.infrastructure_section {
  padding-top: var(--mid-padding);
}

.infrastructure_section_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.infrastructure_section_text p {
  font-family: var(--font-3);
  font-size: 2rem;
  font-weight: 600;
}

.infrastructure_section_img {
  overflow: hidden;
}

.infrastructure_img {
  width: 80%;
  position: relative;
  top: -15vh;
}

.gallery__row {
  padding-bottom: 3rem;
}

.image_gallery_card {
  overflow: hidden;
  border-radius: 10px;
}

.gallery_image {
  border-radius: 10px;
  transition: all 0.3s;
}

.gallery_image:hover {
  transform: scale(1.1);
  cursor: pointer;
}
